{% extends "base.html" %}
{% load static %}
{% block title %} <title>Turnos</title> {% endblock %}

{% block content %}
<br><br><br><br><br>

<form class="container" method="post">
    {% csrf_token %} 
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <p>Está seguro de eliminar el turno - "{{ object }}"?</p>
                <input type="submit" value="Confirmar">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}