{% extends "base.html" %}
{% load static %}
{% block title %} <title> HOME | Clínica de Optometría </title> {% endblock title %}

{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <br></br>
                <br></br>
                <br></br>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <img src="/static/img/logo.png" th:src="@{/img/logo.png}">
                <hr color="grey" size=1 width="200">
                <h1>Bienvenida/o</h1> 
            </div>
        </div>
    </div>
</header> -->
{% endblock %}
