{% extends "base.html" %}
{% load static %}
{% block title %} <title>PEDIDOS | Clínica de Optometría</title> {% endblock %}

{% block header %} <p>Pedidos</p> {% endblock %}

{% block content %}
<br><br><br>
<form class="container" action="">
    <h2>Consultorio</h2>
    <h1 class="title">Dr. Navarrete</h1>
    <h4><u>Solicitar turno</u></h4>

    <div class="allInputs">
      <!-- Datos personales -->
      <div class="row">
      <div class="col-xs-6">
        <label for="">DNI</label>
        <br><input type="number" 
                   class="form-control" 
                   placeholder="11111111" 
                   id="dni"
                   required>
        <br><label for="">Tel</label>
        <br><input type="number" 
                   class="form-control" 
                   placeholder="1544444444"
                   id="tel"
                   required>
        <br><label for="">Email</label>
        <br><input type="email" 
                   class="form-control" 
                   placeholder="jperez@gmail.com" 
                   id="email"
                   required>
      </div>

      <div class="col-xs-6">
        <label for="">Apellido</label>
        <br><input type="text" 
                   class="form-control" 
                   placeholder="Pérez"
                   id="apellido"
                   required>
        <br><label for="nombre">Nombre</label>
        <br><input type="text" 
                   class="form-control" 
                   placeholder="Juan"
                   id="nombre"
                   required>
        <br><label for="sexo">Sexo</label>
        <br>
        <p>
          <input type="radio" name="radio" value="Hombre" required>  Hombre
          <input type="radio" name="radio" value="Mujer">  Mujer
        </p>
      </div>

      </div>

      <!-- Fecha y horario -->
      <div class="row">
        <div class="col-xs-6">
          <label for="">Fecha</label>
          <br>
          <input type="text" 
                 class="form-control" 
                 tabindex="1"
                 id="calendario"
                 required>
        </div>
        <div class="col-xs-6">
          <label for="horario">Horario</label>
          <select id="horario" name="horario" class="form-control" required>
            <option value=""></option>
            <option value="10:00hs">10:00 hs.</option>
            <option value="11:00hs">11:00 hs.</option>
            <option value="12:00hs">12:00 hs.</option>
            <option value="13:00hs">13:00 hs.</option>
            <option value="14:00hs">14:00 hs.</option>
            <option value="15:00hs">15:00 hs.</option>
          </select>

        </div>
      </div>
      
      <br>
      <!-- Motivo -->
      <div calass="row">
        <label for="">Motivo</label>
        <br>
        <div class="row">
          <div class="col-xs-6">
            <p><input type="checkbox" id="alcoholismo">  Alcoholismo</p>
            <p><input type="checkbox" id="drogadiccion">  Drogadicción</p>
          </div>
          <div class="col-xs-6">
            <p><input type="checkbox" id="crisis">  Crisis existencial</p>
            <p><input type="checkbox" id="otra">  Otra patología</p>
          </div>
        </div>
      </div>

      <!-- Comentarios -->
      <div calass="row">
        <label for="">Comentarios</label>
        <br>
        <textarea type="text" 
                  class="form-control" 
                  placeholder="Opcional"
                  maxlength="300"
                  id="comentarios"></textarea>
      </div>
    </div>
    <h3>
      <button name="solicitar" 
              type="submit" 
              data-toggle="modal" 
              data-target="#confirm-submit"
              class="btn btn-primary" 
              id="solicitar">Solicitar</button>
    </h3>
  </form>

  <section id="modalConfirmar">
    <div id="modalBackground"></div>
    <div class="modalContainer">
      <h2>Confirmar turno</h2>
      <div>
        <div class="row">
          <div class="col-xs-4"><p>Paciente: </p></div>
          <div class="col-xs-6"><p class="modalApellidoYNombre"></p></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p>DNI: </p></div>
          <div class="col-xs-6"><p class="modalDNI"></p></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p>Email: </p></div>
          <div class="col-xs-6"><p class="modalEmail"></p></div>
        </div>

        <div class="row">
          <div class="col-xs-4">Fecha: </div>
          <div class="col-xs-6"><p class="modalFecha"></p></div>
        </div>
        <div class="row">
          <div class="col-xs-4">Horario: </div>
          <div class="col-xs-6"><p class="modalHorario"></p></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p>Motivo: </p></div>
          <div class="col-xs-6"><p class="modalMotivo"></p></div>
        </div>

      </div>
      <h3>
        <button class="btn btn-success" type="submit" id="confirmar">Confirmar</button>
        <button class="btn btn-danger" id="cancelar">Cancelar</button>
      </h3>
    </div>
  </section>

  <section id="modalTurnoID">
    <div id="modalBackground"></div>
    <div class="modalContainer">
      <h2>Turno confirmado</h2>
      <div class="row">
        <div class="col-xs-6"><h4>ID TURNO: </h4></div>
        <div class="col-xs-6"><h4 id="idTurno"></h4></div>
      </div>

      <div>
        <div class="row">
          <div class="col-xs-4"><p>Paciente: </p></div>
          <div class="col-xs-6"><p class="modalApellidoYNombre"></p></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p>DNI: </p></div>
          <div class="col-xs-6"><p class="modalDNI"></p></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p>Email: </p></div>
          <div class="col-xs-6"><p class="modalEmail"></p></div>
        </div>

        <div class="row">
          <div class="col-xs-4">Fecha: </div>
          <div class="col-xs-6"><p class="modalFecha"></p></div>
        </div>
        <div class="row">
          <div class="col-xs-4">Horario: </div>
          <div class="col-xs-6"><p class="modalHorario"></p></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p>Motivo: </p></div>
          <div class="col-xs-6"><p class="modalMotivo"></p></div>
        </div>
      </div>

      <h3>
        <button class="btn btn-primary" id="cerrarTurnoID">Cerrar</button>
      </h3>
    </div>
  </section>

{% endblock %}


{% block js %}
<script type="module" src="{% static 'js/ajax-control.js' %}"></script>
{% endblock %}