{% extends "Home.html" %}
{% load static %}
{% block title %} <title>Pacientes</title> {% endblock %}

{% block header %} <p>Pacientes</p> {% endblock %}

{% block content %} {% endblock %}

{% block js %}
<script type="module" src="{% static 'js/ajax-control.js' %}"></script>
{% endblock %}



<!--
    <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light ">Sistema de gestion de Optometría PoloTIC.</p>
                <p class="text-white-75 font-weight-light ">Esto esta re loco</p>
                <p class="text-white-75 font-weight-light mb-5">esto tengo que ver que es lo que es.</p>
                <a href="{% url 'paciente:listar' %}" role="button" class="btn btn-primary btn-xl js-scroll-trigger" data-target="">
                    <i class="fas fa-table"></i>
                    Pacientes
                </a>
            </div>
        </div>
    </div>
</header>
-->
